body {
	background: $bg;
	margin: 0;
	padding: 0;
	min-width: $width-outer;
	padding-top: 60px;
}
#page {
	width: $width;
	//padding: 0 15px;
}
#main {
	clear: both;
	padding: 0 15px;
}
#primary {
	//float: left;
	margin: auto;
	width: 95%;
	@include bp(mama-bear) {
		width: 80%;
	}	
}
#primary-foot {
	margin: auto;
	width: 95%;
	padding: 45px 15px;
	@include bp(mama-bear) {
		width: 80%;
	}
}
#content {
	margin: 0;
	width: 100%;
	float: left;
}
#primary.full-width,
#primary.full-width #content {
	width: 100%;
	float: none;
}
#secondary {
	float: right;
	padding: 0;
	width: 250px;
}
#secondary-b,
#secondary-c {
	padding: 0;
	width: 50%;
	float: left;
}
#colophon {
	clear: both;
	overflow: hidden;
}
/* Sticky footer */
@include sticky-footer(200px, '#page','#main','#colophon');