#rg-container {
	margin: 80px auto;
	@include bp(mama-bear) {
		width: 90%;
	}
}

.featured-image {
	text-align: center;
	@include bp(mama-bear) {
		margin: 0 auto;
	}
}
.intro-text {
	color: $carbon;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	@include bp(mama-bear) {
		width: 755px;
		margin: 0 auto;
	}
	p {
		font-size: 1.25em;
		margin-bottom: 0 !important;
	}
}